body {
  margin: 0;
  padding: 0;
  background: #333;
}

header {
  color: #52d154;
  text-align: center;
}

h4 {
  width: auto;
}

.mainBlock {
  background: #fff196;
  width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

#image {
  width: 150px;
  height: auto;
}

.column {
  width: auto;
  height: auto;
  display: inline-block;
}

section {
  display: block;
  padding: 10px 10px;
  margin: 10px;
  background: #52d154;
  border-radius: 10px;
}
